<h3>Student Form</h3>

<%= form_tag students_path do %> <!-- Submits to index action -->
    <label>First Name:</label><br><br>
    <%= text_field_tag :first_name %><br>

    <label>Last Name:</label><br><br>
    <%= text_field_tag :last_name %><br>
    
    <%= submit_tag "Submit Student" %><br>
<% end %>